.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;
    background-color: #f7fff7;
    padding-bottom: 30px;
    width: 600px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-top: 30px; 
}

.text{
    color: #F6695F;
    font-size: 50px;
    font-weight: 700;
}

body{
   width: 100%;
   margin: 0;
   height: 100vh;
}

.underline{
    width: 100px;
    height: 6px;
    background-color: #EBE5D1;
    border-radius: 10px;
}

.inputs{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}
 .input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background-color: #D6E5E6;
    border-radius: 6px;
    padding: auto;
 }

 .input img{
    margin: 0px 30px;
 }

 .input input{
    height: 50px;
    width: 400px;
    background-color: transparent;
    border: none;
    outline: none;
    color: rgba(12, 1, 1, 0.662);
    font-size: 20px;
 }

 .forgot-password{
    padding-left: 62px;
    margin-top: 27px;
    color: #0081A8;
    font-size: 18px;
 }

 .forgot-password span{
    color: #F6695F;
    cursor: pointer;
    text-decoration: underline;
 }

 .submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;
 }

 .submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 60px;
    color: rgba(18, 15, 15, 0.662);
    background-color: #00AEB8;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
 }

 .gray{
    background:#D6E5E6;
    color:#0081A8;
 }

img{
   width: 30px;
   height: auto;
}